@page "/fetchdata"
@using DataAccess.Data;
@using Microsoft.EntityFrameworkCore;


@inject ApplicationDbContext Context

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (animals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Neutered</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in species)
            {
                <tr>
                    <td>@entity.Name</td>
                    <td>@entity.Description</td>
                    @foreach(var animal in entity.Animals)
                    {
                        <div>@animal.Name @animal.DateOfBirthIsKnown @animal.DateOfBirth</div>
                    }
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<DataAccess.Entities.Animal> animals;
    private List<DataAccess.Entities.Species> species;

    protected override void OnInitialized()
    {
        animals = Context.Animals.ToList();
        species = Context.Species.ToList();
    }
}
