@using VetClinic_Server.Pages
@using VetClinic_Server.Service
@inject TokenProvider TokenProvider

@code {

	[Parameter]
	public InitialApplicationState InitialState { get; set; }

	protected override Task OnInitializedAsync()
	{
		TokenProvider.XsrfToken = InitialState.XsrfToken;
		return base.OnInitializedAsync();
	}

}

<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					<h1>Sorry, you are not authorized to see this page</h1>
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<PageNotFound/>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>