@if (VetFormViewModel is not null)
{
    <EditForm Model="VetFormViewModel" OnValidSubmit="@HandleValidSubmitMethod" OnInvalidSubmit="@HandleInvalidSubmitMethod">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.FirstName" />
                <InputText placeholder="Firstname" class="form-control" @bind-Value="VetFormViewModel.FirstName" />
            </div>
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.LastName" />
                <InputText placeholder="Lastname" class="form-control" @bind-Value="VetFormViewModel.LastName" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.Password" />
                <InputText placeholder="Password" class="form-control" disabled="@IsDisabled" @bind-Value="VetFormViewModel.Password" />
            </div>
            <div class="form-group col-6">
                <InputSelect placeholder="Password" class="form-control" @bind-Value="VetFormViewModel.SpecializationId">
                    @if (Specializations is not null)
                    {
                        @foreach (var specialization in Specializations)
                        {
                            <option value="@specialization.Id">@specialization.Name</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.Email" />
                <InputText placeholder="Email" class="form-control" @bind-Value="VetFormViewModel.Email" />
            </div>
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.Phone" />
                <InputText placeholder="Phone Number" class="form-control" @bind-Value="VetFormViewModel.Phone" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <ValidationMessage class="text-danger" For="() => VetFormViewModel.Education" />
                <InputTextArea @bind-Value="VetFormViewModel.Education" placeholder="Education" class="form-control"></InputTextArea>
            </div>
        </div>
        <div class="row pl-4">
            <div class="custom-control custom-checkbox col-12">
                <InputCheckbox class="custom-control-input" id="available" @bind-Value="VetFormViewModel.Available" />
                <label class="custom-control-label" for="available">
                    Available
                </label>
            </div>
            <div class="custom-control custom-checkbox col-12">
                <InputCheckbox class="custom-control-input" id="emergency" @bind-Value="VetFormViewModel.HasEmergencyCertification" />
                <label class="custom-control-label" for="emergency">
                    Has Emergency Certification
                </label>
            </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-end my-2">
            <button @onclick="HandleCancel" class="btn btn-secondary btn-icon-split mr-3">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text px-4">Back</span>
            </button>
            <button type="submit" class="btn btn-primary btn-icon-split" disabled="@IsBusy">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                @if(IsEdit)
                {
                    <span class="text px-4">Update</span>

                } else
                {
                    <span class="text px-4">Add</span>
                }
            </button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public VetFormViewModel? VetFormViewModel { get; set; }
    [Parameter]
    public Specialization[]? Specializations { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
    [Parameter]
    public bool IsBusy { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }

    private bool IsDisabled => VetFormViewModel?.Password == "N/A";


    [Parameter]
    public EventCallback<bool> OnSubmit { get; set; }

    private async Task HandleValidSubmitMethod()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(true);
        }
    }

    private async Task HandleInvalidSubmitMethod()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(false);
        }
    }

    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }
}